@import url("http://fonts.googleapis.com/css?family=Abel|Fjalla+One");

@include edit();

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
	-webkit-font-smoothing: antialiased;
    font-family: $font-secondary;
    font-size: 1.2rem;
    // line-height: 160%;
    line-height: 1.4;
    color: $primary-color;
}

#{headings()} {
    font-family: $font-primary;
    color: $primary-color;
    margin-bottom: .4rem;
    padding-top: 10px;
    @include text-shadow(#CCC 1px 1px);
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}

a {
	color: $brand-orange;
    text-decoration: none;
    font-size: 1rem;
    &:hover {}
}

p {
    margin-bottom: 10px;
}

section {
	@include container;
	padding: 3%;
} // section 
