@import url("http://fonts.googleapis.com/css?family=Abel|Fjalla+One");

body {
	font-family: $font-secondary;
	font-size: 1.2rem;
	line-height: 160%;
	-webkit-font-smoothing: antialiased;
}

#{headings()} {
	font-family: $font-primary;
	margin-bottom: .4rem;
	padding-top: 10px;
	// @include text-shadow(color 1px 1px);
}

h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.3rem;
}

h5 {
	font-size: 1.1rem;
}

h6 {
	font-size: 1rem;
}

a {
	text-decoration: none;
	font-size: 1rem;
	&:hover {

	}
}