// susy setup
// $susy: (column: 12, gutters: 1 / 4, math: fluid, output: float, gutter-position: inside);
$total-columns  : 7;
$column-width   : 4.25em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

// @include layout(24 1 / 4 fluid float inside);
