$primary-color: #262741;
$secondary-color: #323257;
$brand-orange: #f04b47;
$off-white: #fffff3;
$white: #ffffff;
$gold: #a49f79;

$font-primary: Fjalla One, sans-serif;
$font-secondary: Abel, sans-serif;