$primary-color		: #262741;
$secondary-color	: #323257;
$brand-orange		: #f04b47;
$brand-red-orange	: #ce2e0e;
$off-white			: #fffff3;
$white				: #ffffff;
$gold				: #a49f79;

$font-primary		: Fjalla One, sans-serif;
$font-secondary		: Abel, sans-serif;