@import "compass";
@import "susy";


@import "variables";
@import "mixins";
@import "base";
@import "layout";
@import "modules";


$myColor	: #AEFFDD;

html {
	line-height: 1.4;
	margin: 0;
	padding: 0;
}

body {
	background: $myColor;
}